.facts-container {
  display: grid;
  margin-top: 2rem;
  overflow: scroll;
  height: 70vh;
  scroll-behavior: smooth;
}

.fact-element {
  display: grid;
  grid-template-columns: 40% 60%;
  place-items: center;
  height: 70vh;
}

.fact-img {
  padding: 2rem 2rem 2rem 0;
}
.img-1 {

}
.img-2 {

}
.facts-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.facts-text-container {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.facts-container::-webkit-scrollbar {
  width: 10px;
}

.facts-container::-webkit-scrollbar-thumb {
  background: var(--black);
  border-radius: 2px;
}

.facts-container::-webkit-scrollbar-track {
  background: none;
}

@media (max-width: 768px) {
  .facts-container {
    height: 100%;
    max-width: 768px;
    justify-items: center;
    margin: auto;
  }
  .fact-element {
    height: 100vh;
    margin: 2rem auto;
    display: grid;
    place-content: center;
    grid-gap: 2rem;
    grid-template-columns: 70%;
  }
  .fact-img {
    max-height: 300px;
  }
}