
h1, .header p {
  margin: 0;
}

h1 {
  font-size: 3rem;
}
.header {
  background-image: url('../img/fox-main.jpg');
  background-size: cover;
  background-position: center top;
}

.main-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100vh - 200px);
  max-width: 900px;
  margin: auto;
}

.headers-subheading {
  color: #14312A;
  margin-right: 1rem;
}

.lead {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  margin: 0 0 3rem 0;
}

@media (max-width: 768px) {
  .header {
    max-width: 768px;

  }
  .main-header {
    max-width: 768px;
    min-height: 100vh;
    margin-left: 3rem;
  } 

}