.map-legend-container {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 60vh;
  margin-top: 2rem;
}

#map {
  width: 900px;
}

.legend-container {}

.map-wrapper {}

.map-container {
  position: relative;
}

@media (max-width: 768px) {
  .map-legend-container {
    grid-template-columns: 100%;
  }
}