.navigation-container {
  display: grid;
  grid-template-columns: 30% 1fr;
  align-items: center;
  max-width: 900px;
  margin: auto;
  padding: 1rem 0;
  font-size: smaller;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 0;
}

.app-logo {
  margin: 0.3rem 0 0 0;
  padding: 0;
  max-width: 25px;
}

.nav-bar-menu {
  display: flex;
  justify-content: flex-end;
}

.nav-bar-menu a {
  color: black;
  text-decoration: none;
  margin: 0.3rem 1rem;
  display: flex;
  flex-wrap: nowrap;
}

@media (max-width: 768px) {
  .navigation-container {
    max-width: 768px;
    grid-template-columns: 100%;
  }
  .logo-container {
    display: none;
  }
  .nav-bar-menu {
    justify-content: center;
  }
}